{% macro inline(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.series %}
        <span class="post-tags-inline">
            {%- if short %}
                ::
                {%- set sep = "," -%}
            {% else %}
                :: series:&nbsp;
                {%- set sep = "&nbsp;" -%}
            {% endif -%}
            {%- for series_name in page.taxonomies.series | sort | unique(case_sensitive=false) %}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='series', name=series_name) | safe }}">{{ series_name }}</a>
                {%- if not loop.last %}{{ sep | safe }}{% endif -%}
            {% endfor -%}
        </span>
    {% endif -%}
{% endmacro inline %}


{% macro navigation(page) %}
    {%- if page.taxonomies and page.taxonomies.series %}
        {%- for series_name in page.taxonomies.series | sort | unique(case_sensitive=false) %}
            {% set series_term = get_taxonomy_term(kind="series", term=series_name) %}
            {%- if series_term.pages | length > 1 %}
                <div class="series-nav">
                    <p><strong>Read this series in order:</strong>
                        <a href="{{ series_term.permalink | safe }}">{{ series_name }}</a>
                    </p>
                    <ol>
                        {%- for series_page in series_term.pages | sort(attribute="date") %}
                            <li>
                                {%- if series_page.permalink == page.permalink %}
                                    <strong>{{ series_page.title }} (current)</strong>
                                {% else %}
                                    <a href="{{ series_page.permalink | safe }}">{{ series_page.title }}</a>
                                {% endif -%}
                            </li>
                        {% endfor -%}
                    </ol>
                </div>
            {% endif -%}
        {% endfor -%}
    {% endif -%}
{% endmacro navigation %}
